<article class="card-container">
  <div class="basic-info-container">
    <h3 class="title">
      {{ product.title | uppercase }}
    </h3>

    <tui-badge
      class="support-1 price"
      [value]="product.price | money"
    ></tui-badge>
  </div>

  <form class="contrtols-container" [formGroup]="form" (submit)="submit()">
    <div class="tui-form__row">
      <tui-input-count
        formControlName="count"
        tuiTextfieldSize="m"
        [min]="1"
        [step]="1"
        >Количество</tui-input-count
      >
      <tui-error
        formControlName="count"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div class="tui-form__row buttons">
      <button
        [disabled]="form.invalid"
        tuiButton
        class="tui-form__button"
        size="s"
        type="submit"
      >
        Добавить в корзину
      </button>
    </div>
  </form>
</article>
